In [1]:
import pandas as pd
import numpy as np
import pymysql
import getpass
import matplotlib
import matplotlib.pyplot as plt
import mysql_connection as mc
%matplotlib inline

In [2]:
conn = mc.connect()

Please insert your password: ········

### 1. Analysis of e-waste generation in the world

In [ ]:
# Total e-waste generated per country (in kt) from 2000 to 2020

ewaste_world_query = """
SELECT *
FROM 7_ewaste_world_generation ewg
    INNER JOIN 6_countries co
    ON ewg.country = co.country
WHERE ewg.year >= 2000
    AND ewg.year <= 2020
"""

In [ ]:
ewaste_world = pd.read_sql(ewaste_world_query, conn)

In [ ]:
ewaste_world.head()

In [ ]:
ewaste_world.isnull().sum()

In [ ]:
# Create a column of e-waste generated in million tonnes 

ewaste_world["ewaste_mt"] = ewaste_world["ewaste_kt"] / 1000

# Create a column with e-waste equivalent to Eiffel Towers

eiffel_tower = 10100
ewaste_world["ewaste_eff"] = ewaste_world["ewaste_mt"] * 1000000 / eiffel_tower

In [ ]:
ewaste_world.head()

In [ ]:
# Let's look at the e-waste generated in the world per year

year_mt = (ewaste_world.groupby("year").agg({"ewaste_mt": "sum", "ewaste_eff": "sum"}).reset_index())

In [ ]:
year_mt

In [ ]:
# Let's look at the e-waste equivalent to Eiffel Towers generated in a single year

def e_waste_equiv_et(year):
    print("In " + str(year) + ", " + str(year_mt.loc[year_mt["year"] == year]["ewaste_mt"].iloc[0]) 
          + " tonnes of e-waste was generated. This is equivalent to " 
          + str(year_mt.loc[year_mt["year"] == year]["ewaste_eff"].iloc[0]) + " Eiffel Towers!")

In [ ]:
e_waste_equiv_et(2000)
e_waste_equiv_et(2020)

In [ ]:
# Plot e-waste generation in the world in the last 20 years

fig, ax = plt.subplots(figsize=(10,6))

ax.plot(year_mt["year"],
        year_mt["ewaste_mt"],
        color="g");
ax.set_title("Generation of e-waste in the world in the last 20 years");
ax.spines["top"].set_visible(False);
ax.spines["right"].set_visible(False);

In [ ]:
# Let's look at the waste generated in the EU only

year_mt_eu = (ewaste_world
              .loc[ewaste_world["region"] == "Europe"]
              .groupby("year")
              .agg({"ewaste_mt": "sum", "ewaste_eff": "sum"})
              .reset_index())

In [ ]:
year_mt_eu

In [ ]:
# Plot e-waste generation in the EU in the last 20 years

fig, ax = plt.subplots(figsize=(10,6))

ax.plot(year_mt_eu["year"],
        year_mt_eu["ewaste_mt"],
        color="g");
ax.set_title("Generation of e-waste in the EU in the last 20 years");
ax.spines["top"].set_visible(False);
ax.spines["right"].set_visible(False);

In [ ]:
# Let's look at the waste generated in the EU only

year_mt_other = (ewaste_world
              .loc[ewaste_world["region"] == "Other"]
              .groupby("year")
              .agg({"ewaste_mt": "sum", "ewaste_eff": "sum"})
              .reset_index())

In [ ]:
year_mt_other

In [ ]:
# Plot e-waste generation in the "Other" regions in the last 20 years

fig, ax = plt.subplots(figsize=(10,6))

ax.plot(year_mt_other["year"],
        year_mt_other["ewaste_mt"],
        color="g");
ax.set_title("Generation of e-waste in the rest of the world in the last 20 years");
ax.spines["top"].set_visible(False);
ax.spines["right"].set_visible(False);

In [ ]:
# It seems there is a mismatch in the trend for 2016, as an abrupt decrease is observed for the EU 
# and a sudden increase for the rest of the world

In [ ]:
# Let's check the values for the EU countries

In [ ]:
trends_eu = (ewaste_world
              .loc[ewaste_world["region"] == "Europe"])

In [ ]:
trends_eu.head()

In [ ]:
# Plot e-waste generation in the each EU country in the last 20 years
# Try different countries by changing the country name

country = trends_eu.loc[trends_eu["country_name"] == "Finland"]

fig, ax = plt.subplots(figsize=(10,6))

ax.plot(country["year"],
        country["ewaste_mt"],
        color="g");
ax.set_title("Generation of e-waste in *country* in the last 20 years");
ax.spines["top"].set_visible(False);
ax.spines["right"].set_visible(False);

In [ ]:
# The abrupt decrease is observed for all the countries.

In [ ]:
# Let's check for other countries in the world

In [ ]:
trends_other = (ewaste_world
                .loc[ewaste_world["region"] == "Other"])

In [ ]:
trends_other.head()

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))

other_country = trends_other.loc[trends_other["country_name"] == "China"]

ax.plot(other_country["year"],
        other_country["ewaste_mt"],
        color="g");
ax.set_title("Generation of e-waste in *other_country* in the last 20 years");
ax.spines["top"].set_visible(False);
ax.spines["right"].set_visible(False);

In [ ]:
# Each other country has mismatches

In [ ]:
# Let's check amount of e-waste generated per capita

fig, ax = plt.subplots(figsize=(10,6))

other_country = trends_other.loc[trends_other["country_name"] == "China"]

ax.plot(other_country["year"],
        other_country["ewaste_kpi"],
        color="g");
ax.set_title("Generation of e-waste per capita in *other_country* in the last 20 years");
ax.spines["top"].set_visible(False);
ax.spines["right"].set_visible(False);

In [5]:
ewaste_all_data = """
SELECT *
FROM 7_ewaste_world_generation ewg
    INNER JOIN 6_countries co
    ON ewg.country = co.country
    INNER JOIN 4_gdp_total_countries gdpc
    ON ewg.country = gdpc.country
    INNER JOIN 5_gdp_per_capita gdppc
    ON ewg.country = gdppc.country
WHERE ewg.year >= 2000
    AND ewg.year <= 2020
"""

In [6]:
ewaste_all = pd.read_sql(ewaste_all_data, conn)

In [7]:
ewaste_all

,country,year,ewaste_kpi,ewaste_kt,ewaste_t,country,income_group,country_name,region,country_name,country,year,gdp,country_name,country,year,gdp_pc
0,AFG,2000,0.101444,2.196450,2196.449617,AFG,Low income,Afghanistan,Other,Afghanistan,AFG,1960,5.377778e+08,Afghanistan,AFG,1960,59.77319384
1,AFG,2001,0.107795,2.363583,2363.583482,AFG,Low income,Afghanistan,Other,Afghanistan,AFG,1960,5.377778e+08,Afghanistan,AFG,1960,59.77319384
2,AFG,2002,0.115334,2.560754,2560.753553,AFG,Low income,Afghanistan,Other,Afghanistan,AFG,1960,5.377778e+08,Afghanistan,AFG,1960,59.77319384
3,AFG,2003,0.122107,2.822622,2822.622211,AFG,Low income,Afghanistan,Other,Afghanistan,AFG,1960,5.377778e+08,Afghanistan,AFG,1960,59.77319384
4,AFG,2004,0.131616,3.161278,3161.278039,AFG,Low income,Afghanistan,Other,Afghanistan,AFG,1960,5.377778e+08,Afghanistan,AFG,1960,59.77319384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10820875,VNM,2016,1.519076,407.379120,407379.119800,VNM,Lower middle income,Vietnam,Other,Vietnam,VNM,2018,2.450000e+11,Vietnam,VNM,2019,
10820876,VNM,2017,1.587793,148.628576,148628.575700,VNM,Lower middle income,Vietnam,Other,Vietnam,VNM,2018,2.450000e+11,Vietnam,VNM,2019,
10820877,VNM,2018,1.659431,156.960614,156960.613900,VNM,Lower middle income,Vietnam,Other,Vietnam,VNM,2018,2.450000e+11,Vietnam,VNM,2019,
10820878,VNM,2019,1.734046,165.734886,165734.886100,VNM,Lower middle income,Vietnam,Other,Vietnam,VNM,2018,2.450000e+11,Vietnam,VNM,2019,
10820879,VNM,2020,1.812053,175.002597,175002.597300,VNM,Lower middle income,Vietnam,Other,Vietnam,VNM,2018,2.450000e+11,Vietnam,VNM,2019,

In [8]:
ewaste_all.isnull().sum()

country         0
year            0
ewaste_kpi      0
ewaste_kt       0
ewaste_t        0
country         0
income_group    0
country_name    0
region          0
country_name    0
country         0
year            0
gdp             0
country_name    0
country         0
year            0
gdp_pc          0
dtype: int64